@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  height: 10px;              /* height of horizontal scrollbar ← You're missing this */
  width: 10px;               /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d9d9d9;
}

.base-input {
  @apply relative block w-full rounded-sm border-2 border-primary-600 p-1 font-mono text-sm placeholder:text-slate-400 hover:bg-stone-50 focus:border-slate-500 focus:bg-stone-50 focus:outline-none focus:drop-shadow-md;
}

.base-input:disabled {
  @apply border-gray-300 bg-gray-50;
}

.base-input-error-text {
  @apply text-[10px] text-red-500 ml-1;
}
.base-input-container {
  @apply flex flex-col mt-3 h-16;
}
.base-input-label {
  @apply ml-1 block text-base font-semibold mt-3 mb-1;
}

